@model IEnumerable<Melissa_Scott_9189_SA2_IPG521_Final.Models.Author>

@{
    ViewBag.Title = "Papers";
}

<h2>Submitted Papers</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaperTitle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PaperAuthor)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaperTitle)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PaperAuthor)
            </td>
            
           
        </tr>
    }

</table>
